Competitor Website & Pricing Monitor.json
{
  "name": "Competitor Website & Pricing Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://example-competitor.com/pricing",
        "options": {}
      },
      "id": "http-request",
      "name": "Scrape Pricing Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "pricingPlans",
              "cssSelector": ".pricing-table",
              "returnValue": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "html-extract",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "documentId": {
          "__rl": true,
          "value": "your_google_sheet_id",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "id": "google-sheets-read",
      "name": "Get Previous Price",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.pricingPlans }}",
              "value2": "={{ $('Get Previous Price').item.json.pricingPlans }}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "if-changed",
      "name": "If Pricing Changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "your_google_sheet_id",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pricingPlans": "={{ $json.pricingPlans }}"
          }
        }
      },
      "id": "google-sheets-update",
      "name": "Update Saved Price",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "channel": "competitor-alerts",
        "text": "🚨 Competitor pricing has changed! Check out the website. \n\nNew data: {{ $json.pricingPlans }}"
      },
      "id": "slack",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1200, 400]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Scrape Pricing Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Pricing Page": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Get Previous Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Price": {
      "main": [
        [
          {
            "node": "If Pricing Changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Pricing Changed": {
      "main": [
        [
          {
            "node": "Update Saved Price",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
