Daily Fitness & Habit Tracker Bot.json
{
  "name": "Daily Fitness & Habit Tracker Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "prompt": "Extract the habits completed and workout details from this text: {{ $json.message.text }}. Output as JSON."
      },
      "name": "OpenAI - Parse Habits",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_SHEET_ID"
      },
      "name": "Google Sheets - Log Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Telegram Trigger'].json.message.chat.id }}",
        "text": "Great! I've logged your habits for today."
      },
      "name": "Telegram - Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "OpenAI - Parse Habits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Parse Habits": {
      "main": [
        [
          {
            "node": "Google Sheets - Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Log Data": {
      "main": [
        [
          {
            "node": "Telegram - Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
