Daily News Briefing.json
{
  "name": "Daily News Briefing",
  "nodes": [
    {
      "parameters": {
        "url": "http://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "id": "f5a5e5a5-1b9b-4b9b-8b9b-1b9b4b9b8b9b",
      "name": "RSS Feed Trigger",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "subject",
              "stringValue": "Your Daily News Briefing"
            },
            {
              "name": "html",
              "stringValue": "={{'<h1>Top Stories</h1>' + $items().map(item => '<h2><a href=\"' + item.json.link + '\">' + item.json.title + '</a></h2><p>' + item.json.contentSnippet + '</p>').join('')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Format Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "recipient-email@example.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}"
      },
      "id": "b2c3d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
      "name": "Send Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
