DevOps Incident Alert Routing.json
{
  "name": "DevOps Incident Alert Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incident-webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.severity}}",
              "value2": "high"
            }
          ]
        }
      },
      "name": "If High Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "devops-critical",
        "text": "=CRITICAL ALERT: {{$json.body.title}}\nDetails: {{$json.body.description}}"
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If High Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If High Severity": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
