Expense Receipt OCR & Accounting Sync.json
{
  "name": "Expense Receipt OCR & Accounting Sync",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.message.photo ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-photo",
      "name": "If photo exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}"
      },
      "id": "telegram-download",
      "name": "Download Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "modelId": "gpt-4-vision-preview",
        "messages": {
          "messageValues": [
            {
              "content": "Extract the merchant name, date, total amount, and tax from this receipt. Output as JSON."
            }
          ]
        }
      },
      "id": "openai-vision",
      "name": "OpenAI Vision OCR",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "your_google_sheet_id",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Merchant": "={{ $json.message.content.merchant }}",
            "Date": "={{ $json.message.content.date }}",
            "Total": "={{ $json.message.content.total }}",
            "Tax": "={{ $json.message.content.tax }}"
          }
        }
      },
      "id": "google-sheets",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Receipt successfully processed and added to Google Sheets!"
      },
      "id": "telegram-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If photo exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If photo exists": {
      "main": [
        [
          {
            "node": "Download Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo": {
      "main": [
        [
          {
            "node": "OpenAI Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Vision OCR": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
