GitHub PR Reviewer.json
{
  "name": "GitHub PR Reviewer",
  "nodes": [
    {
      "parameters": {
        "authentication": "webhook",
        "events": [
          "pull_request"
        ]
      },
      "id": "node-github-webhook",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.githubWebhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior software engineer. Review the following code changes and provide constructive feedback."
            },
            {
              "role": "user",
              "content": "={{ $json.body.pull_request.diff_url }}"
            }
          ]
        }
      },
      "id": "node-openai",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "review",
        "operation": "create",
        "owner": "={{ $json.body.repository.owner.login }}",
        "repository": "={{ $json.body.repository.name }}",
        "pullRequestNumber": "={{ $json.body.pull_request.number }}",
        "event": "COMMENT",
        "body": "={{ $json.message.content }}"
      },
      "id": "node-github-comment",
      "name": "GitHub Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "GitHub Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "github-pr-reviewer",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
