Meeting Notes Summarizer & Action Item Extractor.json
{
  "name": "Meeting Notes Summarizer & Action Item Extractor",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "folderId": "YOUR_FOLDER_ID"
      },
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "prompt": "Summarize these meeting notes and extract action items: {{ $json.text }}"
      },
      "name": "OpenAI - Summarize",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "YOUR_DATABASE_ID"
      },
      "name": "Notion - Save Action Items",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "OpenAI - Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Summarize": {
      "main": [
        [
          {
            "node": "Notion - Save Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
