Smart Bookmarking & Reading List Categorizer.json
{
  "name": "Smart Bookmarking & Reading List Categorizer",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.message.text }}",
        "options": {}
      },
      "name": "Scrape URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "body"
            }
          ]
        }
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "prompt": "Categorize this article and write a 2 sentence summary: {{ $json.content }}"
      },
      "name": "OpenAI - Categorize",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "YOUR_NOTION_DB_ID"
      },
      "name": "Notion - Save Bookmark",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Scrape URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape URL": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "OpenAI - Categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Categorize": {
      "main": [
        [
          {
            "node": "Notion - Save Bookmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
